div#content {
    padding:  10px;
    border: 2px solid red;
}
button.btn.btn-success {
    margin: 10px;
}
.setColor.mt-50 {
    margin-top:  30px;
}
span{
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}
.active{
  border:3px solid #000;
}
